Options +FollowSymlinks
RewriteEngine On

RewriteRule ^account$ controler/admin/
RewriteRule ^addEv controler/admin/addEv.php
RewriteRule ^error.html view/error.html
RewriteRule ^account/edit/([0-9]+)$ controler/admin/editEntry.php?id=$1
RewriteRule ^account/edit/save/([0-9]+)$ controler/admin/editEntry.php?id=$1&type=save
RewriteRule ^account/delete/([0-9]+)$ controler/admin/delEv.php?id=$1
RewriteRule ^logout$ controler/logout.php
RewriteRule ^login$ controler/login.php
RewriteRule ^account/stat/([0-9]+)$ controler/admin/serverStatu.php?id=$1
RewriteRule ^subscrib$ controler/subscrib.php
RewriteRule ^validate/([\w.-]+@[\w.-]+\.[a-zA-Z]{2,6})/([\w.-]+)$ controler/subscrib.php?a=activate&email=$1&id=$2
RewriteRule ^deactivate/([\w.-]+@[\w.-]+\.[a-zA-Z]{2,6})/([\w.-]+)$ controler/subscrib.php?a=deactivate&email=$1&id=$2